
* {
    box-sizing: border-box;
}

#Abody{
	margin: 0;
    padding: 0;
}
#Fbody {
	margin: 0;
    padding: 0;
}
#Ybody{
	margin: 0;
    padding: 0;
}

#body {
    margin: 0;
    padding: 0;
	background-image:linear-gradient(rgb(0,120,0,0.7),rgb(0,0,0,0.7)),url("../images/Lawnpic.jpeg");
	background-attachment: fixed; 
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

#informartion {
	
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
	border-bottom: solid;
	border-bottom-color: darkgreen;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* words div class welcome */
.welcome {
	color: aliceblue;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 1px;
	}

label {
		margin-bottom: 10px;
		
		}
		input {
			margin-bottom: 20px;
			padding: 10px;
			border-radius: 5px;
			border: 1px solid #ccc;
			width: 300px;
			max-width: 100%;
			box-sizing: border-box;
		}

		input[type="submit"] 
		{
			background-color: #4CAF50;
			color: white;
			font-weight: bold;
		}

		input[type="submit"]:hover
		{
			background-color: #3e8e41;
		}
 /* end for form */

 /* start of fence slides */
    * {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5{display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
 /* end of fence slides */

  /* start of yard slides */
  



/*code for slides ending */
@media (max-width: 800px) {
	
	#body{
		background-size: 100% 100%;
	}
	
	/* nav bar */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
	/* end of nav bar css */
}
